@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans";
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.main {
  display: flex;
  width: 100%;
  height: 100vh;
}

.formContainer {
  background-image: url(images/bg-pattern-desktop.svg);
  background-repeat: no-repeat;
  height: 100vh;
}

.welcomingTextOne {
  font-weight: 300;
  color: hsl(0, 36%, 70%);
}

.welcomeTextTwo {
  font-weight: 600;
  color: black;
}

.description {
  color: hsl(0, 36%, 70%);
  padding: 10px 0px 30px 0px;
  line-height: 30px;
  font-size: 20px;
  font-weight: 500;
}

.formSection {
  margin-right: 80px;
}

form {
  display: flex;
  width: 100%;
  align-items: center;
}

.emailSubmit {
  width: 100%;
  border: hsl(0, 34%, 76%) solid 1px;
  border-radius: 25px;
}

.emailField {
  height: 50px;
  width: 80%;
}

.errorElement {
  position: relative;
  right: 40px;
}

#errorImage {
  visibility: hidden;
}

input[type="email"] {
  background: transparent;
  border: none;
  height: 55px;
  padding-left: 20px;
  font-weight: 500;
  color: hsl(0, 36%, 70%);
}

input[type="email"]::placeholder {
  color: hsl(0, 36%, 70%);
  font-weight: 500;
}

input[type="email"]:focus-visible,
input[type="text"]:focus-visible {
  outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  color: hsl(0, 36%, 70%) !important;
}

.submitButton {
  border: none;
  width: 15%;
  height: 40px;
  border-radius: 25px;
  text-align: center;
  background: linear-gradient(90deg, hsl(0, 29%, 91%), hsl(0, 72%, 83%));
  margin-right: 10px;
  margin-left: 10px;
  font-size: 19px;
  font-weight: 600;
  color: white;
}

.submitButton:hover {
  background: linear-gradient(90deg, hsl(0, 52%, 86%), hsl(0, 70%, 75%));
  cursor: pointer;
}

.imageContainer {
  width: 40%;
  background-image: url(images/hero-desktop.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.errorMessage {
  color: red;
  padding: 15px;
}

@media only screen and (max-width: 600px) {
  .main {
    flex-direction: column;
  }

  .imageContainer {
    min-height: 250px;
    width: 100%;
  }

  .formContainer {
    width: 100%;
  }

  .formContent {
    margin: 20px 20px;
    text-align: center;
  }

  .welcomingText {
    font-size: 40px;
    letter-spacing: 0.9rem;
    padding: 15px 0px;
  }
  .welcomingTextOne {
    font-weight: 300;
    color: hsl(0, 36%, 70%);
    padding: 10px 0px;
  }

  .welcomeTextTwo {
    font-weight: 600;
    color: black;
    padding: 10px 0px;
  }

  .logoContent {
    display: none;
  }

  .logoMobileView {
    padding: 20px 20px;
    max-height: 20px;
  }

  .formSection {
    margin-right: 0px;
  }

  .description {
    padding: 10px 0px 30px 0px;
    line-height: 20px;
    font-size: 15px;
  }

  input[type="email"] {
    height: 40px;
    padding-left: 15px;
  }

  .submitButton {
    height: 30px;
    margin-right: 10px;
    margin-left: 10px;
    font-size: 15px;
  }
}

@media only screen and (min-width: 768px) {
  .main {
    flex-direction: row-reverse;
  }
  .formContainer {
    background-size: cover;
    width: 60%;
    min-height: 100vh;
  }

  .formContent {
    margin: 40px 200px;
  }

  .welcomingText {
    font-size: 75px;
    letter-spacing: 0.9rem;
    padding: 15px 0px;
  }
  .welcomingTextOne {
    font-weight: 300;
    color: hsl(0, 36%, 70%);
    padding: 10px 0px;
  }

  .welcomeTextTwo {
    font-weight: 600;
    color: black;
    padding: 10px 0px;
  }

  .logoContent {
    padding: 5px 0px 70px 0px;
  }

  .mobileView {
    display: none;
  }
}
